/node_modules
Homestead.yaml
.env
/.idea
/vendor
composer.phar
composer.lock
/nbproject
.DS_Store
Thumbs.db
/storage/debugbar
/public/html
/public/fitnesspal
/public/img
/public/member_bca_data
public/dataimported
public/dataprocessed
public/service_execution_files
public/service_execution_files_failed
public/service_execution_files_processed
public/clm_member_insertion_request_files
public/clm_member_insertion_response_files
public/clm_package_insertion_request_files
public/clm_package_insertion_response_files
vendor/
/app/Console/Kernel.php
/app/Console/Kernel_server.php

/modules/Admin/nbproject/private/
/modules/Admin/nbproject/


storage/framework/schedule-*
